/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


//--------------------------------//Reset CSS -----------------------------------------------------//

body{
  background: #f7f7ff;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}
//-------------------other class------------------
.title {
    text-align: center;
    color: white;
    font-size: 1.5em;
    padding: 20px 0;
    background: #4362c9;
    box-shadow: 0 0 10px #9a9a9a;
  }

//----------------------tooltips-------------------
#tooltip {
  .toolBox {
    
    margin: 0 auto;
    font-size: 0.9em;
    line-height: 1.5em;
    text-align: justify;
    position: relative;
    [data-title] {
      position: relative;
      color: red;
      text-align: center;
      
    }
    [data-title]:hover::after {
      content: attr(data-title);
      background: black;
      color: white;
      position: absolute;
      top: -75px;
      left: 0;
      padding: 5px 10px;
    }
    [data-title]:hover::before{
      content: '';
      border-top: 20px solid black;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      position: absolute;
      top: -12px;
      left: 30%;
      height: 7px;
    } 
    
  }
}
//----------------------corridorBox-------------------
.corridorBox{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  .doors{
    width: 10px;
    height: 10px;
    background: brown;
    position: relative;
    border-left: 40px solid #837d7d;
    border-right: 40px solid #837d7d;
    border-top: 3px solid #c1bfbf;
    border-bottom: 70px solid red;
    transform: scale(3);
    &::after{
      content: "";
      background: gold;
      width: 1px;
      height: 1px;
      position: absolute;
      top:7px;
      left:7px;
    }
    &::before{
      content: "";
      background: aqua;
      width: 6px;
      height: 3px;
      position: absolute;
      left: 2px;
      top: 2px;
      
    }
  }
}
//----------------------consoleBox-------------------
.consoleBox{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
  h3{
      padding: 20px 30px;
      background: #464646;
      color: white;
      margin: 10px;
  }
  textarea{
    margin: 20xp 0;
  }

.console {
  background: black;
  width: 300px;
  height: 200px;
  border: 3px solid #c0c0c0;
  padding: 10px;
  border-top-width: 20px;
  position: relative;
  border-radius: 3px;
  text-align: center;
  margin-top: 10px;
  &::before, &::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    top: -15px;

  }
  &::after {
    background: #ffa500;
    left: 15px;
  }
  
  &::before{
    background: #ff0000;
    left: 3px;
  }
  .typing {
    color: #34d834;
    margin: 0;

  }
  .typing::before {
    content: 'user@lukdev.pl : ~';
    display: block;
  }
  .typing::after {
    content: ' _';
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  p{
    display: flex;
    flex-wrap: wrap;
  }
  @keyframes blink {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
}
//----------------------howManyLetters-------------------
#howManyLetters{
    .boxHML{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p,div{
      padding: 20px 30px;
      background: #464646;
      color: white;
      margin: 10px;
    }
    textarea{
      width: 30%;
    }

    
  }
}
//----------------------hamburgerButton-------------------
#hamburgerButton{
background: black;
  
  #hamburgerButtonBox{
    display: flex;
    justify-content: center;
    padding: 50px;
    
    .hamburger{
      width: 40px;
      height: 35px;
      border: 0;
      border-top: 5px solid white;
      background: transparent;
      position: relative;
      transition: all 0.3s linear;
      
      
      &::before, &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 5px solid white;
        transform: translateY(10px);
        
      }
      &::after{
        transform: translateY(25px);
        transition: all 0.3s linear;
      }
      
      &:focus{
        transform: rotate(45deg) translateY(5px);
        border: none;
        outline: 0;
      }
      
      &:focus::after{
        transform: rotate(-90deg) translateX(-10px);
      }
      
    }
  }
}
//----------------------mouseMove-------------------
#mouseMove{
  text-align: center;
  #mouse{
    padding: 20px;
    background: #7b7b7b;
  }
}